//Colors?
$text-primary: #ad0068;
$text-secondary: white;
$bg-primary: white;
$bg-secondary: #ad0068;

$bg-input: hsla(0, 0%, 30%, 0.9);
$bg-button: hsla(0, 0%, 5%, 0.9);
$bg-button2: hsla(0, 0%, 10%, 0.9);

$border: hsla(0, 0%, 15%, 0.9);
$border2: hsla(0, 0%, 5%, 0.9);
$bg-content: hsla(0, 0%, 30%, 0.9);
$background: hsla(0, 0%, 15%, 0.9);
$bg-hamburger: hsla(0, 0%, 5%, 1);

// gradient
$bg-darken: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
